:root {
    --main-bg-color: white;
    --main-font-color: white;
    --color1: #e1381b; /* red */
    --color2: #f8b028;  /* yellow */
    --color3: #f4f4f4; /* white */
    --color4: #3674c1; /* blue */
}

div {
    border: 20px solid transparent;
    border-color: black;
}

body{
    background-color: var(color2);
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0
}
header div {
    align-content: center;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: stretch;
    background-color: var(--main-bg-color);
}

.banner-img {
    display: flex;
    align-content: center;
    align-self: center;
    object-fit: cover;
    display: block;
}

.left-img, .right-img {
    min-width: 0;
    flex-basis: 10%;
    height: auto;
    object-fit: cover;
}

.middle-img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

#navbar {
    display: flex;
    background-color: var(--color4);
    margin: auto;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#000;
    text-decoration: none;
    font-size: 18;
    padding-right: 15px;
}

#showcase {
  background-position: right center;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

.outter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--main-bg-color);
    width: 50%;
}

.my-box {
    min-width: 20%;
    width: 80%;
    align-content: center;
    margin: auto;
}
.my-box a{

}

.what {
    background-image: url('./images/billy1.png');
    height: 200px;
    width: 200px;
}



