:root {
    --main-bg-color: var(--bg-color1);
    --main-font-color: white;
    --bg-color1: #333;
    --bg-color2: black;
    --color1: #e1381b;
    /* red */
    --color2: #f8b028;
    /* yellow */
    --color3: #f4f4f4;
    /* white */
    --color4: #3674c1;
    /* blue */
    --color5: #333;
    /* dark grey */
}

@font-face {
    font-family: 'customButtonText';
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
VCR_OSD_MONO_1.001.ttf
    margin-bottom: 50px;

@font-face {
    font-family: 'customFontFamily';
    src: url('../fonts/Almondlatte-BWgYd.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    line-height: 1.6em;
    margin: 0
}



h1, h2, h3 {
    font-family: 'customFontFamily', sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    color: var(--color1);
}

h2 {
    font-size: 2.5em;
    color: var(--color2);
}

h3 {
    font-size: 2em;
    color: var(--color4);
}

p {
    font-size: 1.2em;
    color: var(--main-font-color);
    margin-bottom: 20px;
    line-height: 1.8em;
}

.header {
    text-align: center;
}

.banner {
    display: flex;
    font-family: 'customFontFamily', sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-color);
    justify-content: center;
    margin: auto;
    /* width: 100%; */
}

/*
.banner a,
.banner a:hover,
.banner a:visited,
.banner a:active {
    font-size: 1em;
    background-color: #000;
}
    */

.banner-img {
    display: flex;
    align-content: center;
    align-self: center;
    object-fit: cover;
    display: block;
}

.left-img,
.right-img {
    min-width: 0;
    flex-basis: 10%;
    height: auto;
    object-fit: cover;
}

.middle-img {
    width: 50%;
    height: auto;
    object-fit: contain;
}


#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#navbar li {
    margin: 0 15px;
}

#navbar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

#navbar a:hover {
    color: var(--color1);
    border-bottom: 2px solid var(--color1);
    transition: color 0.1s ease, border-bottom 0.1s ease;
}

.outter-container {
    background-color: var(--bg-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.outter-container .container:nth-child(odd) {
    background-color: var(--bg-color1);
    /* Red for odd rows */
    color: black;
}

.outter-container .container:nth-child(even) {
    background-color: var(--bg-color2);
    /* Yellow for even rows */
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.container img {
    display: block;
    max-width: 50%;
    /* max-height: 50%;*/
    object-fit: cover;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.my-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    align-content: center;
    margin: 0 10px;
}

.my-box a {
    text-decoration: none;
    border-radius: 10%;
    padding: 20px 30px;
    background-color: var(--color4);
    white-space: nowrap;
    font-size: 1.6em;
    color: white;
    text-decoration: none;
    padding-right: 15px;
}

.my-box a:hover {
    background-color: var(--color1);
    transform: scale(1.05);
}

.my-graphic-1 {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.my-graphic-2 {
    border: 2px solid red;
}

.my-graphic-3 {
    position: relative;
    display: inline-block;
}

.my-graphic-3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent dark overlay */
    pointer-events: none;
    /* Ensures the overlay doesn't interfere with interactivity */
    z-index: 1;
    border-radius: inherit;
    /* Matches any rounded corners */
}

.my-div {
    width:50%;
    height: auto;

}

.image-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1px;
    justify-items: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {

    .my-box {
        width: 90%;
    }

    .container img {
        max-width: 100%;
    }

    .my-box a {
        font-size: 1.2em;
        padding: 15px 20px;
    }

    .container {
        padding: 20px;
    }
}

